@{
    ViewData["Title"] = "Configuración";
}
<h3>Configuración</h3>
<div class="config-container" ng-app="configApp">
    <toast></toast>
    <ul class="nav nav-pills sections" role="tablist">
        <li class="active" role="presentation">
            <a href="#employees" aria-controls="employees" role="tab" data-toggle="tab">
                Empleados
            </a>
        </li>
        
        <li role="presentation">
            <a href="#positions" aria-controls="positions" role="tab" data-toggle="tab">
                Cargos
            </a>
        </li>
        <li role="presentation">
            <a href="#industries" aria-controls="industries" role="tab" data-toggle="tab">
                Industrias
            </a>
        </li>
        <li role="presentation">
            <a href="#mattertypes" aria-controls="mattertypes" role="tab" data-toggle="tab">
                Tipos de Asunto
            </a>
        </li>
        <li role="presentation">
            <a href="#clienttypes" aria-controls="clienttypes" role="tab" data-toggle="tab">
                Tipos de Cliente
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="active tab-pane" role="tabpanel" id="employees">
            @Html.Partial("~/Views/Employees/Index.cshtml")
        </div>       
        <div class="tab-pane" role="tabpanel" id="positions">
            @Html.Partial("~/Views/Positions/Index.cshtml")
        </div>
        <div class="tab-pane" role="tabpanel" id="industries">
            @Html.Partial("~/Views/Industries/Index.cshtml")
        </div>     
        <div class="tab-pane" role="tabpanel" id="mattertypes">
            @Html.Partial("~/Views/MatterTypes/Index.cshtml")
        </div>
        <div class="tab-pane" role="tabpanel" id="clienttypes">
            @Html.Partial("~/Views/ClientTypes/Index.cshtml")
        </div>
    </div>
</div>
@section Scripts {
    <environment names="Development">
        <script src="~/js/modules/configurations/controllers/employees.js"></script>
        <script src="~/js/modules/configurations/controllers/industries.js"></script>
        <script src="~/js/modules/configurations/controllers/positions.js"></script>
        <script src="~/js/modules/configurations/controllers/mattertypes.js"></script>
        <script src="~/js/modules/configurations/controllers/clienttypes.js"></script>
        <script src="~/js/modules/configurations/app.js"></script>
    </environment>
}